<template>
  <q-page class="flex flex-center">
      <form class="gutter-sm" style="max-width: 90vw;" @submit.prevent="submit()">
    <q-input v-model="text" float-label="Name" placeholder="Write your name" />
    <div class="text-center">
    <q-btn icon="create" label="New item"/>
    </div>
    </form>
  </q-page>
</template>

<style>
</style>

<script>
export default {
  name: 'UsersCreate',
  data: () => ({
    usuario: {
      name: '',
      email: '',
      address: {
        city: ''
      },
      phone: '',
      website: '',
      company: {
        name: ''
      }
    }
  }),
  methods: {
    submit () {
      this.$axios.post('http://jsonplaceholder.typicode.com/users', this.usuario)
        .then((res) => {
          alert('Respuesta recibida' + res)
        })
        .catch((error) => {
          alert('Algo salio mal' + error)
        })
    }
  }
}
</script>
