<template>
  <q-page class="flex flex-center">
     <q-table
        title="Table Title"
        :data="tableData"
        :columns="columns"
        row-key="name"
     />
  </q-page>
</template>

<style>
</style>

<script>
export default {
  name: 'UsersList',
  data: () => ({
    columns: [
      {
        required: true,
        name: 'name',
        label: 'Name',
        align: 'left',
        field: 'name',
        sortable: true
      },
      {
        required: true,
        name: 'email',
        label: 'Email',
        align: 'left',
        field: 'email',
        sortable: true
      },
      {
        required: true,
        name: 'address-city',
        label: 'Address - City',
        align: 'left',
        field: (row) => { return row.address.city },
        sortable: true
      },
      {
        required: true,
        name: 'phone',
        label: 'Phone',
        align: 'left',
        field: 'phone',
        sortable: true
      },
      {
        required: true,
        name: 'website',
        label: 'Website',
        align: 'left',
        field: 'website',
        sortable: true
      },
      {
        required: true,
        name: 'company-name',
        label: 'Company - Name',
        align: 'left',
        field: (row) => { return row.company.name },
        sortable: true
      }
    ],
    tableData: []
  }),
  created () {
    this.$axios.get('http://jsonplaceholder.typicode.com/users')
      .then((res) => {
        console.log('Respuesta obtenida", res.data')
        this.tableData = res.data
      })
      .catch((error) => {
        console.log('Algo malo paso', error)
      })
  }
}
</script>
